<a href="https://colab.research.google.com/github/jfaguirre/Python/blob/main/Numpy_y_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Numpy con Ademass by Gogodev

**¿Cual es la diferencia de Numpy y Pandas?**

**NumPy (Numerical Python)**

*   Diseñado para trabajar con grandes arreglos y matrices numéricas.
*   Ofrece operaciones matemáticas y algebra lineal muy rápidas y eficientes.
*   Se usa mucho en ciencia de datos, machine learning y simulaciones numéricas.
*   Sus estructuras básicas son ndarray.

Ejemplo típico de uso:

import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
print(np.dot(a, b))  # Producto escalar

**Pandas**

Construido sobre NumPy, pero diseñado para trabajar con datos tabulares y etiquetados, como si fueran hojas de Excel o bases de datos.


*   DataFrame (tabla con filas y columnas)
*   Tiene dos estructuras principales:
    *   Series (columna única)
    *   DataFrame (tabla con filas y columnas)
*   Ideal para limpiar, filtrar, agrupar y analizar datos con etiquetas

Ejemplo típico de uso:

import pandas as pd

df = pd.DataFrame({
    'Nombre': ['Ana', 'Luis'],
    'Edad': [25, 30]
})
print(df['Edad'].mean())  # Promedio de edad

![image.png]()

Curso de Gogodev en Ademass.com
https://campus-ademass.com/curso/9

In [ ]:
# Cargamos la libreria Numpy
import numpy as np

In [ ]:
# Creamos un array vacio de 4x8
np.empty((4,8))

array([[1.  , 0.  , 0.16, 1.  , 1.  , 0.  , 0.  , 1.  ],
       [1.  , 1.  , 0.  , 1.  , 0.  , 1.  , 0.  , 1.  ],
       [0.  , 1.  , 1.  , 1.  , 0.  , 0.  , 1.  , 1.  ],
       [1.  , 0.  , 1.  , 1.  , 1.  , 0.  , 0.75, 1.  ]])

In [ ]:
# Creamos un array que inicie con "ceros" de 4x8
np.zeros((4,8))

array([[0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
# creamos un array que inicia con "unos" de 4x8
np.ones((4,8))

array([[1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.]])

In [ ]:
# Creamos un array con la funcion full() de 4x8 y le asignamos un valor personalizado
np.full((4,8), 7)

array([[7, 7, 7, 7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7, 7, 7, 7]])

In [ ]:
# CReamos valores aliatorios con la funcion random de 4x8
np.random.random((4,8))

array([[0.50623614, 0.89487064, 0.09951317, 0.89763477, 0.55279172,
        0.97420756, 0.46414061, 0.96938818],
       [0.52618561, 0.55944628, 0.68954776, 0.31727425, 0.5355571 ,
        0.70734256, 0.68008637, 0.99916679],
       [0.79002068, 0.9414734 , 0.99505856, 0.29762228, 0.8546369 ,
        0.42069684, 0.42573599, 0.68992651],
       [0.85153152, 0.07358121, 0.71330161, 0.03240111, 0.17465546,
        0.37026088, 0.12214215, 0.04973236]])

In [ ]:
# Creamos un array de valores aleatorios enteros, con un valor minimo de 0 a 10 random hasta 32 valores en total
np.random.randint(0, 10, 32)

array([0, 9, 7, 9, 6, 7, 2, 0, 8, 5, 2, 3, 6, 5, 4, 9, 6, 5, 1, 6, 1, 3,
       7, 4, 5, 0, 7, 2, 7, 0, 2, 6])

In [ ]:
# Convertimos el array lineal a bidimencional con la funcion reshape()
my_array = np.random.randint(0, 10, 32)
my_array_reshaped_array = np.reshape(my_array,(4,8))
print(my_array_reshaped_array)

[[7 4 3 0 1 0 7 0]
 [7 9 4 7 8 2 0 0]
 [2 5 3 3 0 4 8 5]
 [2 5 3 9 4 8 6 3]]

In [ ]:
# Creamos un array
np.array([7,7,7,7])

array([7, 7, 7, 7])

In [ ]:
# Creamos una matriz
np.array( [[1,2,3,4,5,6,7,8], [1,2,3,4,5,6,7,8], [1,2,3,4,5,6,7,8], [1,2,3,4,5,6,7,8] ])

array([[1, 2, 3, 4, 5, 6, 7, 8],
       [1, 2, 3, 4, 5, 6, 7, 8],
       [1, 2, 3, 4, 5, 6, 7, 8],
       [1, 2, 3, 4, 5, 6, 7, 8]])

In [ ]:
# Creamos un array de 0 a 10 random de 32 valores
my_array = np.linspace(0, 10, 32)
# Determina el tamaño del array
print(my_array.shape)
my_array

(32,)

array([ 0.        ,  0.32258065,  0.64516129,  0.96774194,  1.29032258,
        1.61290323,  1.93548387,  2.25806452,  2.58064516,  2.90322581,
        3.22580645,  3.5483871 ,  3.87096774,  4.19354839,  4.51612903,
        4.83870968,  5.16129032,  5.48387097,  5.80645161,  6.12903226,
        6.4516129 ,  6.77419355,  7.09677419,  7.41935484,  7.74193548,
        8.06451613,  8.38709677,  8.70967742,  9.03225806,  9.35483871,
        9.67741935, 10.        ])

In [ ]:
# Nos muestra la dimension del array
print(my_array.ndim)

1

In [ ]:
# Nos muestra el tamaño en valores del array
print(my_array.size)

32

In [ ]:
# Operaciones basicas con array
my_array1 = np.array([7,7,7])
my_array2 = np.array([3,3,3])

print(my_array1 + my_array2)
print(my_array1 - my_array2)
print(my_array1 * my_array2)
print(my_array1 / my_array2)

[10 10 10]
[4 4 4]
[21 21 21]
[2.33333333 2.33333333 2.33333333]

In [ ]:
# Multiplicamos una matriz con un array
my_array1 = np.array([[7,7,7], [1,1,1]])
my_array2 = np.array([3,3,3])

print(my_array1 + my_array2)
print(my_array1 - my_array2)
print(my_array1 * my_array2)
print(my_array1 / my_array2)

[[10 10 10]
 [ 4  4  4]]
[[ 4  4  4]
 [-2 -2 -2]]
[[21 21 21]
 [ 3  3  3]]
[[2.33333333 2.33333333 2.33333333]
 [0.33333333 0.33333333 0.33333333]]

In [ ]:
# Calcular la media
my_array3 = np.array([7,13,7])
my_array3.mean()

np.float64(9.0)

In [ ]:
# Suma de los valores del array
my_array3.sum()

np.int64(27)

In [ ]:
# Accedemos al indice 1 que es igual a 13
my_array3 = np.array([7,13,7])
my_array3[1]

np.int64(13)

In [ ]:
my_array3 = np.array([[7,13,7], [2,2,2]])
my_array3

array([[ 7, 13,  7],
       [ 2,  2,  2]])

In [ ]:
# Accedemos al indice 1,2 que es igual a 2
my_array3[1,2]

np.int64(2)

In [ ]:
# Accedemos a los indices desde 0 a 2 que son 10,7,7 de la primer fila
print(my_array1)
my_array1[:1]

[[10  7  7]
 [ 1  1  1]]

array([[10,  7,  7]])

In [ ]:
# Accedemos a los indices de 0 a 2 que son 1,1,1 de la ultima fila
print(my_array1)
my_array1[1:]

[[10  7  7]
 [ 1  1  1]]

array([[1, 1, 1]])

In [ ]:
# Accedemos al indice 0,0 = 10
my_array1[0,0] = 10
my_array1

array([[10,  7,  7],
       [ 1,  1,  1]])

In [ ]:
my_array3 = np.array([[7,13,7], [2,2,2]])
my_array3

array([[ 7, 13,  7],
       [ 2,  2,  2]])

In [ ]:
# Pasamos de array de dos dimenciones a una
my_array3.ravel()

array([ 7, 13,  7,  2,  2,  2])

In [ ]:
# Creamos un array de una dimension
my_Array = np.array([1,2,3,4,5,6,7,8,9,10])
my_Array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
# Accedemos a indice 8
my_Array[7]

np.int64(8)

In [ ]:
# Sumamos el total de valores del array
total = my_array.sum()
total

np.float64(160.0)

In [ ]:
# Sacamos la media del array
media = my_array.mean()
media

np.float64(5.0)

In [ ]:
# Sacamos el maximo valore del array
maximo = my_array.max()
maximo

np.float64(10.0)

In [ ]:
# Sacamos el minimo del arrya
minimo = my_array.min()
minimo

np.float64(0.0)

In [ ]:
# Sumar dos array
array_1 = np.array([5,2,4])
array_2 = np.array([3,8,4])

# Sumanos

suma = array_1 + array_2
suma

array([ 8, 10,  8])

In [ ]:
# Sumarle el valor de 1 a los elementos de un array

for i in range(len(array_1)):
    suma[i] += 1
suma

array([10, 12, 10])

In [ ]:
# Multiplicacion de matriz
array_3 = np.array([[2,4,5], [3,4,5]])
array_4 = np.array([[2,2,4], [3,1,5]])

producto = array_3 * array_4
producto

array([[ 4,  8, 20],
       [ 9,  4, 25]])

In [ ]:
# Valores random

random_array = np.random.random((4,4))
random_array

array([[0.53455339, 0.6354369 , 0.56235309, 0.62667178],
       [0.41417314, 0.21526889, 0.07889826, 0.18498811],
       [0.80767502, 0.28676297, 0.33248542, 0.99513785],
       [0.93274486, 0.86304649, 0.98548903, 0.86207268]])

In [ ]:
random_array.shape

(4, 4)

In [ ]:
# Creamos valores random de 0 a 10 para 10 valores
random_array= np.random.randint(0, 10, 10)
random_array

array([1, 6, 0, 7, 9, 4, 9, 9, 0, 7])

In [ ]:
# Modificar la dimencion

matrix = np.reshape(random_array, (2,5))
matrix

# Para este caso le estamos indicando que cree 5 columnas y 2 filas

array([[1, 6, 0, 7, 9],
       [4, 9, 9, 0, 7]])

In [ ]:
# Modificar la dimencion

matrix = np.reshape(random_array, (5,2))
matrix

# Para este caso le estamos indicando que cree 2 columnas y 5 filas

array([[1, 6],
       [0, 7],
       [9, 4],
       [9, 9],
       [0, 7]])

In [ ]:
# Acceder al array de dos dimenciones, ejemplo valor de 9
indice_value = matrix[2,0]
indice_value

np.int64(9)

In [ ]:
# Agregar etiquetas al array bidimencional
chocolate = np.array([
    [1],  # chocolate
    [4]   # azucar
])

produccion = np.array([10])

print(chocolate, produccion)

# Calculamos cuanta produccion se necesita para 10 libras de chocolate

produccion_total = np.dot(chocolate, produccion)
produccion_total

[[1]
 [4]] [10]

array([10, 40])

In [ ]:
# Combinando pandas con numpy (Ya que estamos trabajando con etiquetas, es decir una tabla, ahora necesitamos de la ayuda de pandas)
# Ejercicio: crear un modelo que determine la produccion de chocolate segun las cantidades de materia prima, calcular en libras.
import pandas as pd
import numpy as np

# Creamos un DataFrame con datos tabulados
# Para este caso, para cada libra de chocolate se necesitan 4 libras de azucar
df = pd.DataFrame({
    'producto': ['chocolate', 'azucar'],
    'cantidad': [1, 4]
})

# Supón que quieres aumentar la cantidad a 10 libras, usando NumPy
df['nueva_cantidad'] = np.array(df['cantidad']) * 10

print(df)

    producto  cantidad  nueva_cantidad
0  chocolate         1              10
1     azucar         4              40